<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @caterer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @caterer.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @caterer.password %>
</p>

<p>
  <strong>Mobile 1:</strong>
  <%= @caterer.mobile_1 %>
</p>

<p>
  <strong>Mobile 2:</strong>
  <%= @caterer.mobile_2 %>
</p>

<p>
  <strong>Mobile 3:</strong>
  <%= @caterer.mobile_3 %>
</p>

<p>
  <strong>Tel 1:</strong>
  <%= @caterer.tel_1 %>
</p>

<p>
  <strong>Tel 2:</strong>
  <%= @caterer.tel_2 %>
</p>

<p>
  <strong>Tel 3:</strong>
  <%= @caterer.tel_3 %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @caterer.logo %>
</p>

<p>
  <strong>Location:</strong>
  <%= @caterer.location %>
</p>

<p>
  <strong>Tagline:</strong>
  <%= @caterer.tagline %>
</p>