<!DOCTYPE html>
<html>
	<head>
		<%= csrf_meta_tags %>
		<title><% if yield(:title) == "" %>CaterX - Catering Services for Birthdays, Debuts, & Weddings<% else %><%= yield(:title) %><% end %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="caterx,caterx.com,cater,caterer,events,booking,catering services,packages,wedding,debut,catering,services,search caterers,cater search,wedding caterers,debut caterers,catering website">
		<meta name="description" content='<% if yield(:description) == "" %>Catering Service for Baptismal, Birthdays, Debuts, & Weddings.<% else %><%= yield(:description) %><% end %>'>
		<meta property="og:title" content='<% if yield(:title) == "" %>CaterX - Catering Services for Birthdays, Debuts, & Weddings<% else %><%= yield(:title) %><% end %>'>
		<meta property="og:description" content='<% if yield(:description) == "" %>Catering Service for Baptismal, Birthdays, Debuts, & Weddings.<% else %><%= yield(:description) %><% end %>'/>
		<meta property="og:image" content='<% if yield(:image) == "" %>https://www.caterx.co/og_image.png<% else %><%= yield(:image) %><% end %>'/>
		<meta property="og:type" content='website'/>
		<meta property="fb:app_id" content="1957982941198055" />
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => "true" %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => "reload", defer: true %>
	</head>
	<body>
		<% unless request.original_url.split("http://")[1].split("/").count < 2 %>
		<div class="beta-nav">
			<div class="beta-nav-icon"><a href="/" class="logo-link">CaterX</a></div>
			<div class="beta-nav-anchors">
				<% if session[:caterer_id].present? %>
				<button class="beta-nav-anchor beta-nav-login" onclick="window.location.href = '/caterers/<%= Caterer.find(session[:caterer_id]).uid %>';">Profile</button>
				<button class="beta-nav-anchor" onclick="window.location.href = '/signout';">Log Out</button>
				<% elsif session[:customer_id].present? %>
				<button class="beta-nav-anchor beta-nav-login" onclick="window.location.href = '/customers/<%= Customer.find(session[:customer_id]).uid %>';">Profile</button>
				<button class="beta-nav-anchor" onclick="window.location.href = '/signout';">Log Out</button>
				<% else %>
				<button class="beta-nav-anchor beta-nav-register" onclick="window.location.href = '/register';">Register</button>
				<button class="beta-nav-anchor beta-nav-login" onclick="window.location.href = '/login';">Log In</button>
				<% end %>
			</div>
		</div>
		<% end %>
		<%= yield %>
		<!-- FLASH NOTICE -->
		<% if flash.present? && params[:u] != "agency" %>
		<% flash.each do |key, value| %>
		<p class="notice-float"><%= value %></p>
		<% end %>
		<% end %>
		<!-- END OF FLASH NOTICE -->
	</body>
</html>